$basefontsize: 16 !default; // in px

@mixin rem-fallback($property, $values...) {
	$pxValues: '';
	$remValues: '';

	@for $i from 1 through length($values) {
		$value: strip-unit(nth($values, $i));
		$pxValues: #{$pxValues + px($value)};
		$remValues: #{$remValues + rem($value)};

		@if $i < length($values){
			$pxValues: #{$pxValues + " "};
		}

		@if $i < length($values){
			$remValues: #{$remValues + " "};
		}
	}	
	
	#{$property}: $pxValues; 
	#{$property}: $remValues;	
}